<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buaa.sl.mapper.TeamMapper">
  <resultMap id="BaseResultMap" type="com.buaa.sl.bean.Team">
    <id column="team_id" jdbcType="INTEGER" property="teamId" />
    <result column="tname" jdbcType="VARCHAR" property="tname" />
    <result column="in_" jdbcType="INTEGER" property="in" />
    <result column="coach" jdbcType="VARCHAR" property="coach" />
    <result column="sponsor" jdbcType="VARCHAR" property="sponsor" />
    <association column="in_" property="region" select="getRegion" />
    <collection column="team_id" property="players" select="getPlayers" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    team_id, tname, in_, coach, sponsor
  </sql>
  <select id="selectByExample" parameterType="com.buaa.sl.bean.TeamExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teams
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teams
    where team_id = #{teamId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teams
    where team_id = #{teamId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.buaa.sl.bean.TeamExample">
    delete from teams
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.buaa.sl.bean.Team">
    insert into teams (team_id, tname, in_, 
      coach, sponsor)
    values (#{teamId,jdbcType=INTEGER}, #{tname,jdbcType=VARCHAR}, #{in,jdbcType=INTEGER}, 
      #{coach,jdbcType=VARCHAR}, #{sponsor,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.buaa.sl.bean.Team">
    insert into teams
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teamId != null">
        team_id,
      </if>
      <if test="tname != null">
        tname,
      </if>
      <if test="'in' != null">
        in_,
      </if>
      <if test="coach != null">
        coach,
      </if>
      <if test="sponsor != null">
        sponsor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teamId != null">
        #{teamId,jdbcType=INTEGER},
      </if>
      <if test="tname != null">
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="'in' != null">
        #{in,jdbcType=INTEGER},
      </if>
      <if test="coach != null">
        #{coach,jdbcType=VARCHAR},
      </if>
      <if test="sponsor != null">
        #{sponsor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.buaa.sl.bean.TeamExample" resultType="java.lang.Long">
    select count(*) from teams
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update teams
    <set>
      <if test="record.teamId != null">
        team_id = #{record.teamId,jdbcType=INTEGER},
      </if>
      <if test="record.tname != null">
        tname = #{record.tname,jdbcType=VARCHAR},
      </if>
      <if test="record.in != null">
        in_ = #{record.in,jdbcType=INTEGER},
      </if>
      <if test="record.coach != null">
        coach = #{record.coach,jdbcType=VARCHAR},
      </if>
      <if test="record.sponsor != null">
        sponsor = #{record.sponsor,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update teams
    set team_id = #{record.teamId,jdbcType=INTEGER},
      tname = #{record.tname,jdbcType=VARCHAR},
      in_ = #{record.in,jdbcType=INTEGER},
      coach = #{record.coach,jdbcType=VARCHAR},
      sponsor = #{record.sponsor,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.buaa.sl.bean.Team">
    update teams
    <set>
      <if test="tname != null">
        tname = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="'in' != null">
        in_ = #{in,jdbcType=INTEGER},
      </if>
      <if test="coach != null">
        coach = #{coach,jdbcType=VARCHAR},
      </if>
      <if test="sponsor != null">
        sponsor = #{sponsor,jdbcType=VARCHAR},
      </if>
    </set>
    where team_id = #{teamId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.buaa.sl.bean.Team">
    update teams
    set tname = #{tname,jdbcType=VARCHAR},
      in_ = #{in,jdbcType=INTEGER},
      coach = #{coach,jdbcType=VARCHAR},
      sponsor = #{sponsor,jdbcType=VARCHAR}
    where team_id = #{teamId,jdbcType=INTEGER}
  </update>
  <select id="getRegion" resultMap="com.buaa.sl.mapper.RegionMapper.BaseResultMap">
    select region_id,rname from regions where region_id=#{in}
  </select>
  <select id="getPlayers" resultMap="com.buaa.sl.mapper.PlayerMapper.BaseResultMap">
    select player_id,name,game_name,age,sex,position,belong from players where belong=#{teamId} 
  </select>
</mapper>